.menu-item {
  min-width: 30%;
  height: 450px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid lightblue;
  margin: 0 7.5px 15px;
  overflow: hidden;
  position: relative;

  @media screen and(max-width: 800px) {
    height: 200px;
  }

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .backgroung-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .content {
    height: 90px;
    width: 200px;
    top: 40%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.9;
    position: absolute;

    @media screen and(max-width: 800px) {
      width: 150px;
      top: 30%;
    }

    .title {
      font-weight: bold;
      width: max-content;
      background-color: white;
      margin: 0 6px 0;
      font-size: 25px;
      color: black;
      text-align: center;
    }

    .subtitle {
      font-weight: bold;
      font-size: 16px;
      color: black;
    }
  }
}
