h1 {
  font-family: "Amatic SC";
  color: #007bff;
}

.ui.input > input {
  width: 300px !important;
  text-align: right !important;
}

.ui.search {
  margin-left: 40% !important;

  @media screen and(max-width: 600px) {
    margin-left: 3% !important;
  }

  // .ui.button {
  //   width: 2000px !important;
  //   margin-left: 300px !important;
  // }
}

.react-confirm-alert-body {
  text-align: center;
}

.react-confirm-alert-button-group {
  margin: auto;
  margin-top: 3% !important;
  display: block;
}

.content {
  color: black;
}
