h1 {
  font-family: "Amatic SC";
  color: #007bff;
}

.ui.input > input {
  width: 300px !important;
  text-align: right !important;
}

.ui.search {
  margin-left: 37% !important;

  @media screen and(max-width: 600px) {
    margin-left: 3% !important;
  }

  // .ui.button {
  //   width: 2000px !important;
  //   margin-left: 300px !important;
  // }
}

.react-confirm-alert-body {
  text-align: center;
}

.expired {
  border: 2px solid red;
  margin: 5px;
}

.almost-expired {
  border: 2px solid #ffd800;
  margin: 5px;
}

.not-expired {
  border: 2px solid #47d31d;
  margin: 5px;
}

.item-width {
  @media screen and(max-width: 600px) {
    width: 100%;
  }
}

.item {
  @media screen and(max-width: 600px) {
    display: flex !important;
    justify-content: space-between !important;

    &::after {
      display: none !important;
    }
  }
}

.days-left {
  margin-right: 10px;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.items-container {
  justify-content: center;
  align-items: center;
}

.react-confirm-alert-button-group {
  margin: auto;
  margin-top: 3% !important;
  display: block;
}

.content {
  color: black;
  text-align: right;
}
