.react-confirm-alert-body {
  text-align: center;
}

.react-confirm-alert-button-group {
  margin: auto;
  margin-top: 3% !important;
  display: block;
}

.content {
  color: black;
  text-align: right;
}

.btn {
  font-size: large !important;
}