.shopping-list {
    width: 100vw;
  }
  
  header {
    border-bottom: 1px solid lightgrey;
    height: 50px;
    margin: 20px 0 50px 0;
    display: flex;
    align-items: center;
  }
  
  header img {
    padding: 0 10px 0 20px;
    height: 50px;
    width: 50px;
  }
  
  header span {
    color: dimgrey;
    font-size: 24px;
  }
  
  .taskContainer {
    width: 500px;
    min-height: 300px;
    padding: 20px 0;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-size: 18px;
    position: relative;
  }
  
  form {
    padding: 5px 20px;
  }
  
  form:focus-within {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }
  
  .tasksForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tasksForm:focus-within .fa-times {
    display: block;
  }
  
  .tasksForm:hover .fa-times {
    display: block;
  }
  
  .taskForm input,
  .tasksForm input {
    border: 0;
    outline: none;
    padding-left: 10px;
    width: 400px;
    background-color: whitesmoke;
    font-size: 18px;
  }
  
  .taskForm input::placeholder,
  .tasksForm input::placeholder {
    font-size: 15px;
  }
  
  .fas,
  .far {
    border: 0;
    outline: none;
    background-color: whitesmoke;
    color: grey;
    cursor: pointer;
  }
  
  .fa-times {
    display: none;
  }
  
  .fa-plus {
    padding: 0 5px 0 2px;
    font-size: 12px;
  }
  
  .fa-square:hover,
  .fa-check-square:hover {
    color: black;
  }
  