.title {
    border: 0;
    outline: none;
    margin: 10px 20px;
    width: 400px;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
  }
  
  .title::placeholder {
    font-size: 18px;
    font-weight: 600;
  }
  